.result-card {
  margin: 3rem auto;
  max-width: 1200px;
  height: max-content;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-card p {
  font-size: 20px;
  font-weight: bold;
}

.info {
  font-weight: normal;
  padding-left: 30px;
}

.person-info {
  margin-top: 2.5rem;
}

@media (max-width: 600px) {
  .result-card {
    padding: 1rem;
    max-width: 90vw;
  }
  .result-card p {
    font-size: 14px;
  }

  .result-card h1 {
    font-size: 1rem;
  }

  .result-card h2 {
    font-size: 1rem;
  }
  .info {
    padding-left: 15px;
  }
}
